:root {
    --font-family: "poppins", sans-serif;
    --card-w: 420px;
}

 html {
    font-size: 62.5%;
 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    background-color: lightpink;
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: 2rem;
}
.signup-card {
    background-color: white;
    /* max-height: 50rem; */
    padding: 2rem;
    width: min(var(--card-w),96vw);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    border-radius: 10px;
    /* min-height: 450px;
    min-width: 235px; */
    overflow: hidden;

}
/* revert to previous changes */

.input {
    margin: 1rem 2rem;
    height: 3rem;
    width: 80%;
    padding: 20px;
    align-items: center;
    
    

}

h1 {
    font-family: var(--font-family);
    
}
.form-container {
    font-size: 16px;
}

p {
    font-size: 16px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}